<div class="row">

  <div class="comment_form">
<%= form_for([@video, @video.comments.build]) do |f| %>
   <%= f.text_area :content, class: 'form-control' %> 
   <div class="d-flex justify-content-end">
<%= f.submit "Ajouter un commantaire" , class: 'btn btn-sm btn-outline-secondary'%>
  <% end %>
  </div>
  </div>
 </div>

 

