<div class="row">
 <div class="col-6 offset-3">
  <div class="comment_form">
<%= form_for([@video, @video.comments.build]) do |f| %>
   <%= f.text_area :content, class:"form-control mb-2"  %>
<%= f.submit "Créer commantaire" , class: 'btn btn-sm btn-outline-secondary'%>
  <% end %>
  </div>
 </div>
</div>