<body>
<h1>APPRENEZ EN STREAMING !</h1>
<br></br>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.unsplash.com/photo-1501504905252-473c47e087f8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c3R1ZHl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1504607798333-52a30db54a5d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGVjb25vbXl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.over-blog-kiwi.com/1/22/98/79/20181020/ob_e0902e_12657946083-fb10cdfe7c-b.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

<br></br>
<h1>NOUVELLES VIDÉOS</h1>
<br></br>  

<br></br>
<br></br>






    <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    <% @videos.each do |video| %>










      <div class="col">
      <div class="card border-warning mb-3 cards" style="max-width: 20rem;">

        <div class="card-header">
          <center><h4><%= link_to video.title, video_path(video.id) %></h4></center>
        </div>

        <div class="card-body">


        <div class="flex-container text">
        <center><img src="" width="250" height="200"> </center>
          <center><h4 class="card-title"><%= video.category %></h4></center>
          <h6><strong><%= video.description %></strong></h6>
          <%= link_to "Visioner", video_path(video.id), class: 'btn btn-sm btn-outline-secondary'%>


</div>
          </div>
      </div>
    </div>














      <% end %>

    </div>
  </div>




  <br></br><br></br>

<STYLE>
body {
    background-color: #000000; 
}

h1 {
  text-align: center;
  color: white
}

</STYLE>

