<h3 class="text-center"> Créer un contenu </h3><br>
<p class="description, text-center">Rendez accessible la connaisance avec votre vidéo !</p>
<div class="row_test">
    <%= render 'videos-form' %>
</div>

<STYLE>
h3 {
    font-family: "Montserrat", sans-serif;
}
</STYLE>