<footer class="bg-white">
    <!-- Copyrights -->
    <div class="bg-light py-4">
      <div class="container text-center">
        <p class="text-muted mb-0 py-2">Amal, Raghoul, Hugo, Aurelflip  The Hacking Project session mars 2021</p>
      </div>
    </div>
  </footer>